body, html{
    min-height: 100%;
    margin: 0;
    padding: 0;
    background-color: #000000;
}
::-webkit-scrollbar {
    display: none;
}
.wrapper{
    display: flex;
    margin: 0;
    flex-direction: row;
    min-height: 100vh;
    height: 100%;
    background-color: #000000;
}
.header-bar{
    display: flex;
    position: fixed;
    z-index: 3;
    flex-direction: row;
    min-height: 1rem;
    max-width: 100%;
    width: 100%;
    background-color: rgb(57, 55, 55);
    padding-left: 1rem;
    gap: 1rem;
    align-items: center;
}
.header-brand{
    font-size: .8rem;
    text-decoration: none;
    color: #ffffff;
    font-family: "Roboto Mono", monospace;
    font-weight: 300;
}
.header-item{
    font-size: .6rem;
    text-decoration: none;
    color: #ffffff;
    font-family: "Roboto Mono", monospace;
    font-weight: 200;
}
.code-box{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 100vh;
    background-color: #000000;
    border: none;
    outline: none;
    flex: 1;
    max-height: none !important;
}
.code-text{
    background-color: inherit;
    border: none;
    outline: none;
    color: white;
    width: 100%;
    font-family: "JetBrains Mono", monospace;
    font-weight: 400;
    font-size: 1rem;
    resize: none;
    line-height: 1;
}
.line-box{
    min-height: 100vh;
    margin-top: 1rem;
    min-width: 1rem;
    padding: .2rem 0 .2rem 0;
    background-color:   rgb(12, 12, 12);
    display: flex;
    flex-direction: column;
    color: #ffffff;
    align-items: center;
    line-height: 1;
    user-select: none;
}
.line-box span{
    font-family: "JetBrains Mono", monospace;
    font-weight: 300;
    opacity: .2;
    font-size: 1rem;
}